body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    background-image: url('vol11.webp');
    /* Specify the path to your background image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-attachment: fixed;
    /* Fixed background so it doesn't scroll with content */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Add opacity to the background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 80%;
}

.container:hover {
    transform: translateY(-5px);
    /* Lift the container on hover */
}

.image-side {
    width: 50%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.form-side {
    width: 50%;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button-container button:hover {
    background-color: #0056b3;
}

.success-box {
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}